* {
    margin: 0;
    padding: 0;
    
}

main {
    width: 960px;
    margin: 0 auto;
    text-align: center;
   
}
body{
    background-image: url(../img/bg_texture.png);
}

header {
    position: fixed;
    width: 100%;
    vertical-align: top;
    height: 70px; 
    background-color: #0067dc ;
    z-index: 100;
    display: float;
    justify-content: space-between;

}

.area-logo {
    margin-left: 10%;
    


}

.area-logo img {
    width: 130px;
    }

.menu {
    
    margin-right: 10%;
}

.menu nav {margin-top: 3%;}

/* li */
/* ul li */
/* .menu nav ul li { */
/* .menu nav li { */
.item {display:inline;
        padding: 15px;
        font-size: 18px;
        font-weight:bold ;
        text-transform: uppercase;
        color: white;

        }

.menu nav li:hover {

}

.banner {
    height: 600px;
    background-size: 600px;
    background-position: center 70px;
    background-repeat: no-repeat;
    background-image: url(../img/banner.png);
    background-attachment: fixed;

}

section {
    background-color: white;

}

.titulo {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 10px;

}

.history .texto {
    padding: 25px;
    text-align: justify;
}

.history .texto img {
    float: right;
    padding: 20px;
    width: 150px;

}

.games {
    background-image: url(../img/background.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    height: 850px;
    padding: 20px;
    position: relative;
}

.games .titulo {
    color: #0067dc;
    padding: 30px;
}

.games-texto {}

.games .texto1,
.games .texto2,
.games .texto3,
.games .texto4 {
    color: black;
    text-align: center;
    width: 50%;
    position: absolute;
    font-weight: bold;
    }

.games .texto1 {
    right: 0;
}

.games .texto2 {
    top: 130px;
    left: 0;
}

.games .texto3 {
    top: 320px;
    right: 0;
}

.games .texto4 {
    top: 460px;
    left: 0;
}


.texto1 img{width: 30%;}
.texto2 img{width: 40%;}
.texto4 img {
    width: 40%;
}

.texto3 img {
    width: 30%;
}

footer {
    height: 380px;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}